/**
 * Set custom theme color variables
 */




/**
 * Change default Bootstrap colors
 */
$black: #333333;
$blue: #82b3b4; 
$grey-lt: #efefef;
$blue-dk: #78939e;

$primary: $blue; 
$secondary: $blue-dk;
$dark: $blue-dk;