$black: #333333;
$blue: #82b3b4; // Thats a sample how you could change a BootStrap variable.
$grey-lt: #efefef;

$primary: $black; // Once we've changed the value, we'll also make it the primary brand color.
$dark: $black;