@import 'colors.scss';


.has-may-background-color {
    background-color: var(--ihk-may);
}
.has-may-color {
    color: var(--ihk-may);
}
.has-jun-background-color {
    background-color: var(--ihk-jun);
}
.has-jun-color {
    color: var(--ihk-jun);
}
.has-nov-background-color {
    background-color: var(--ihk-nov);
}
.has-nov-color {
    color: var(--ihk-nov);
}
.has-aug-background-color {
    background-color: var(--ihk-aug);
}
.has-aug-color {
    color: var(--ihk-aug);
}
.has-oct-background-color {
    background-color: var(--ihk-oct);
}
.has-oct-color {
    color: var(--ihk-oct);
}
.has-sep-background-color {
    background-color: var(--ihk-sep);
}
.has-sep-color {
    color: var(--ihk-sep);
}
.has-mar-background-color {
    background-color: var(--ihk-mar);
}
.has-mar-color {
    color: var(--ihk-mar);
}
.has-apr-background-color {
    background-color: var(--ihk-apr);
}
.has-apr-color {
    color: var(--ihk-apr);
}
.has-jul-background-color {
    background-color: var(--ihk-jul);
}
.has-jul-color {
    color: var(--ihk-jul);
}
.has-dec-background-color {
    background-color: var(--ihk-dec);
}
.has-dec-color {
    color: var(--ihk-dec);
}
.has-jan-background-color {
    background-color: var(--ihk-jan);
}
.has-jan-color {
    color: var(--ihk-jan);
}
.has-feb-background-color {
    background-color: var(--ihk-feb);
}
.has-feb-color {
    color: var(--ihk-feb);
}
.has-white-background-color {
    background-color: var(--ihk-white);
}
.has-white-color {
    color: var(--ihk-white);
}
.has-gray-lt-background-color {
    background-color: var(--ihk-gray-lt);
}
.has-gray-lt-color {
    color: var(--ihk-gray-lt);
}
.has-gray-background-color {
    background-color: var(--ihk-gray);
}
.has-gray-color {
    color: var(--ihk-gray);
}
.has-gray-med-background-color {
    background-color: var(--ihk-gray-med);
}
.has-gray-med-color {
    color: var(--ihk-gray-med);
}
.has-gray-dark-background-color {
    background-color: var(--ihk-gray-dark);
}
.has-gray-dark-color {
    color: var(--ihk-gray-dark);
}
.has-black-background-color {
    background-color: var(--ihk-black);
}
.has-black-color {
    color: var(--ihk-black);
}
/* HHARMONY U */

.has-africa-background-color {
    background-color: var(--ihk-africa);
}
.has-africa-color {
    color: var(--ihk-africa);
}
.has-east-asia-background-color {
    background-color: var(--ihk-east-asia);
}
.has-east-asia-color {
    color: var(--ihk-east-asia);
}
.has-west-asia-background-color {
    background-color: var(--ihk-west-asia);
}
.has-west-asia-color {
    color: var(--ihk-west-asia);
}
.has-europe-background-color {
    background-color: var(--ihk-europe);
}
.has-europe-color {
    color: var(--ihk-europe);
}
.has-north-america-background-color {
    background-color: var(--ihk-north-america);
}
.has-north-america-color {
    color: var(--ihk-north-america);
}
.has-south-america-background-color {
    background-color: var(--ihk-south-america);
}
.has-south-america-color {
    color: var(--ihk-south-america);
}
.has-oceania-background-color {
    background-color: var(--ihk-oceania);
}
.has-oceania-color {
    color: var(--ihk-oceania);
}

/* Cycles */

.has-spring-background-color {
    background-color: var(--ihk-spring);
}
.has-spring-color {
    color: var(--ihk-spring);
}
.has-summer-background-color {
    background-color: var(--ihk-summer);
}
.has-summer-color {
    color: var(--ihk-summer);
}
.has-autumn-background-color {
    background-color: var(--ihk-autumn);
}
.has-autumn-color {
    color: var(--ihk-autumn);
}
.has-winter-background-color {
    background-color: var(--ihk-winter);
}
.has-winter-color {
    color: var(--ihk-winter);
}