// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/assets/bootstrap5/_variables.scss, paste it here and edit the value.

@import 'variables/colors';
@import 'variables/fonts';

$colors: (
  "headings-color": var(#{--bs-primary}),
  "link-color": var(#{--bs-primary}),
  "link-color-rgb": var(#{--bs-primary-rgb}),
  "button-color": var(#{--bs-primary}),
  "button-color-rgb": var(#{--bs-primary-rgb}),
  "button-color-hover": var(#{--bs-primary}),
  "button-color-hover-rgb": var(#{--bs-primary-rgb}),
  "button-link-color-disabled": var(#{--bs-grey-600}),
);


// $headings-margin-bottom: $spacer / 2 !default;
$headings-font-family: $font-family-sans-serif-2 !default;
$headings-font-weight: 300 !default;
$headings-line-height: 1.2 !default;
$headings-color: var(#{--bs-headings-color}) !default;

// navbar
$navbar-padding-x: 0.75em;

// containers
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 920px,
  xl: 920px
) !default;

// $link-color: var(#{--bs-primary});
// $link-darken-val: 15%;
// $link-color: $secondary;
// $link-color: #{--bs-secondary};
// $link-hover-color: hsl(var(#{--bs-secondary}),calc(var(#{$hl-link-darken-val}) - 5%));
//darken($link-color, 15%) !default;