@import '../assets/badscript';
@import '../assets/josefinsans';
@import '../assets/opensans';

.josefinsans {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 26px;
    line-height: 1.2em;
    font-weight: 300;
}


.badscript {
    font-family: 'Bad Script', cursive;
    font-size: 26px;
    line-height: 1.2em;
    font-weight: 300;
}


.opensans {
    font-family: 'Open Sans', sans-serif;
    font-size: 26px;
    line-height: 1.2em;
    font-weight: 300;
}