@import 'variables/colors';

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100vw;
}

.site {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    > .wrapper:first-of-type {
        flex-grow: 1;
    }
}

#site-header {
    width: 2000px;
    max-width: 100%;
}

.site-header-image {
    background-repeat: no-repeat;
    background-position: center;
}

.no-gutters {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;

    &-md {
        @media #{$screen-not-md} {
            margin-left: 0 !important;
            margin-right: 0 !important;
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }
    &-lg {
        @media #{$screen-not-lg} {
            margin-left: 0 !important;
            margin-right: 0 !important;
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }
    &-xl {
        @media #{$screen-not-xl} {
            margin-left: 0 !important;
            margin-right: 0 !important;
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }
}

select {
    display: block;
}