@import './variables/fonts';

header {

    .navbar-brand {
        &.custom-logo-link {
            img {
                width: auto;
                max-height: 50px;
            }
        } 
    } 

    #header-menu-container {
        border-bottom: 1.5px solid $grey-lt;
        margin-bottom: 1em;
    }

    .navbar {
        padding: 0 $navbar-padding-x;

        &#main-menu {
            .nav-link {
                padding-right: 1.5em;
                padding-left: 1.5em;
            }
        }
    }
     
}