@import './variables/fonts';

header {

    .brand-col {
        &.sz-sm {
            .navbar-brand {
                img {
                    width: auto;
                    max-height: 50px;
                }
            }
        }
        &.sz-md {
            .navbar-brand {
                img {
                    width: auto;
                    max-height: 75px;
                }
            }
        }
        &.sz-lg {
            .navbar-brand {
                img {
                    width: auto;
                    max-height: 100px;
                }
            }
        }
        &.sz-xl {
            .navbar-brand {
                img {
                    width: auto;
                    max-height: 150px;
                }
            }
        }
    }

    .navbar-brand {
        &.custom-logo-link {
            img {
                width: auto;
                max-height: 50px;
            }
        }
    } 

    #header-menu-container {
        border-bottom: 1.5px solid $grey-lt;
        margin-bottom: 1em;
    }

    .navbar {
        padding: 0 $navbar-padding-x;
    }

    .navbar-toggler {
        position: relative;
        display: inline-block;
        z-index: 10000;

        .navbar-toggler-icon {
            position: relative;
            z-index: -1;
            user-select: none;
        }
    }
     
}