
.nav-link, .nav-links {
    font-family: $font-family-sans-serif-2;
    text-transform: uppercase;
    font-size: 0.75em;
    font-weight: 500;
    letter-spacing: 1.5px;
}

.navbar.navbar-light {
    .navbar-brand {
        color:var(--bs-primary);
    }
}

.navbar {
    &-collapse {
        @media #{$screen-not-large} {
            position: absolute;
            top: 100%;
            width: 100%;
            background: white;
            box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
            z-index: 10;

            .menu-item {
                width: 100%;
            }
            .nav-link {
                width: 100%;
                background-image: linear-gradient(to right, var(--bs-secondary) 33%,rgba(255,255,255,0) 0%);
                background-position: top;
                background-size: 7px 1px;
                background-repeat: repeat-x;
            }

            .dropdown-menu {
                border: none;
                box-shadow: none;
                background: transparent;
                margin-top: 0;
                padding-top: 0;
            }
        }
    }
}

header {
    .navbar {
        &.navbar-expand {
            &-lg {
                @media #{$screen-not-lg} {
                    padding: 0;
                }
            }
            &-md {
                @media #{$screen-not-md} {
                    padding: 0;
                }
            }
        }
    }
}