#content {
    .owl-carousel.post-slider {
        .post-slider-item {
            overflow: hidden;
            position: relative;

            .post-img {
                overflow: hidden;

                img {
                    object-fit: cover;
                    transition: 0.4s ease-in-out;
                }
            }
        }
    }
}