.single-post {

    #post-img {
        text-align: center;
    }

    .entry-header {
        text-align: center;
        margin-bottom: 4em;
    }

    .wp-post-image {
        margin: 0 auto 3em;
    }
}