.single-post {

    #post-img {
        text-align: center;
    }

    .entry-header {
        text-align: center;
        margin-bottom: 4em;
    }

    .wp-post-image {
        margin: 0 auto 3em;
    }

    .sticky-img {
        position: sticky;
        top: 25vh;
        max-height: 60vh;
        overflow: hidden;
    }
}


.ih-latest-posts {
    &_post {
        position: relative;
        overflow: hidden;
    }

    &__featured-image {
        position: relative;
        height: 240px;
    }

    &__text {
        height: 8em;
    }

    &__post-excerpt {
        font-size: 0.7em;
        max-height: 0px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        bottom: 1.5em;
    }

    &:hover {
        background-color: rgba(var(#{--bs-primary-rgb}), 0.25);
    }
}